.page {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    will-change: transform;
}


#mobile-menu-button.active svg {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.admin-navbar a:hover {
    color: rgb(78 59 54 / var(--tw-text-opacity, 1));
}

.aged-paper {
    background-color: #d5c5aa;
    background-image:
        radial-gradient(rgba(0, 0, 0, 0.06) 1px, transparent 1px),
        radial-gradient(rgba(0, 0, 0, 0.06) 1px, transparent 1px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    position: relative;
    box-shadow: inset 0 0 30px #cbb78a;
    overflow: hidden;
}

.fold-corner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 40px solid #f3eadd;
    /* page color */
    border-left: 40px solid transparent;
    z-index: 20;
}

